main p {
  font-size: 1.6rem;
}

.the-lounger {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.image {
  background: url(../img/section-voyager.jpg) no-repeat center;
  height: 100vh;
  width: 50vw;
  background-size: cover;
}

.the-lounger p {
  margin-bottom: 1rem;
}
